<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fitnessverwaltung{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>Fitnessverwaltung</h1>
        <nav>
            <a href="{{ url_for('auth.dashboard') }}">Dashboard</a> 
            <a href="{{ url_for('auth.profile') }}">Profil</a> 
            <a href="{{ url_for('activities.activity_list') }}">Aktivitäten</a> 
            <a href="{{ url_for('tracking.weight_list')}}">Gewicht</a> 
            <a href="{{ url_for('auth.logout')}}">Logout</a>
        </nav>
    </header>


    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 M.Moser</p>
    </footer>

</body>
</html>