{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Profil</h1>

    <ul>
        <li><strong>Name:</strong> {{ user.name }}</li>
        <li><strong>E-Mail:</strong> {{ user.email }}</li>
        <li><strong>Alter:</strong> {{ user.age }}</li>
        <li><strong>Größe:</strong> {{ user.height_cm }}</li>
        {% if bmi %}
            <li><strong>Aktueller BMI:</strong> {{ bmi }}</li>
        {% else %}
            <li><em>Noch kein Gewicht eingetragen.</em></li>
        {% endif %}
    </ul>
   
    <br>
    <a href="{{ url_for('auth.edit_profile') }}" class="btn">Profil bearbeiten</a>
    
    <hr>
    <h2>Gewichtsstatistik</h2>

    {% if num_entries %}
        <ul>
            <li><strong>Anzahl der Einträge:</strong> {{ num_entries }}</li>
            <li><strong>Aktuelles Gewicht:</strong> {{ current_weight }} kg</li>
            <li><strong>Durchschnitt-Gewicht:</strong> {{ avg_weight }} kg</li>
            <li><strong>Max. Gewicht:</strong> {{ max_weight }} kg</li>
            <li><strong>Min. Gewicht:</strong> {{ min_weight }} kg</li>
            <li><strong>Zeitraum:</strong> {{ start_date }} - {{ end_date }}</li>
        </ul>
    {% else %}
        <p><em>Es wurden noch keine Gewichtseinträge gemacht,</em></p>
    {% endif %}


{% endblock %}



