<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Kalorienverbrauch</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Durchnschnittliche Herzfrequenz pro Tag</h1>

<canvas id="hrChart" width="600" height="300"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('hrChart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels|tojson }},
            datasets: [{
                label: 'ø Herzfrequenz (bpm)',
                data: {{ averages|tojson }},
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'dodgerblue',
                borderWidth: 2,
                tension: 0.3
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: false,
                    title: {
                        display: true,
                        text: 'Schläge pro Minute (bpm)'
                    }
                }
            }
        }
    });
</script>
<a href="{{ url_for('activities.activity_list') }}">Zurück zur Liste</a>
</body>
</html>